body {
  background-color: rgb(235, 235, 247);
}


@font-face {
  font-family: "Montserrat-Regular";
  src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Thin";
  src: url(../fonts/Montserrat-Thin.ttf) format('truetype');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "DOCKERONE";
  src: url(../fonts/dockertwo.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "DOCKERTWO";
  src: url(../fonts/dockerone.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
}

/* .container {
  max-width: 2205px;
  width: 100%;
  margin: 0 auto;
} */

.title {
  font-family: DOCKERTWO;
  font-size: 96px;
  line-height: 1.2;
  font-weight: 400;
  color: #002e43;
}

.text {
  font-family: Montserrat-Regular;
  font-size: 50px;
  line-height: 96px;
}

.header {
  display: flex;
  justify-content: space-between;
}

/* header */
.header {
  display: flex;
  padding-top: 110px;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 30px;

}


.logo__img {
  width: 674px;
  height: 267px;
}

.about {
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/top\ fill.png)
}

.about__wrapper {
  display: flex;
}

.about__block-left {
  max-width: 1055px;

}

.about__img {
  max-width: 1283px;
  width: 100%;
}

.about__text {
  font-family: Montserrat-Regular;
  font-size: 50px;
  line-height: 96px;

}

.btn {
  font-family: DOCKERONE;
  font-size: 72px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #ebebf7;
  width: 441px;
  height: 144px;
  opacity: 0.5;
  background-color: #002e43;
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  /* bottom: 20px;
        right: 20px;
        z-index: 99999;
        transition: 0.5s; */
}

.menu__link {
  font-family: Montserrat-Regular, sans-serif;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #002e43;
}
/* services */
.services__wrapp {
  display: flex;
}


/* decision */
.decision {
  padding-top: 217px;
  padding-bottom: 260px;
}

.decision__title {
  font-family: Montserrat;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #002e43;
  margin-bottom: 205px;
  text-align: center;
}

.decision__main {
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 295px;

}

.decision__group {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap:100px;
}

.decision__group-text {
  font-family: DOCKERTWO;
font-size: 48px;
line-height: 1.2;
font-weight: 400;
text-transform: uppercase;
color: #002e43;
}

/* contacts */
.contacts {

  background-image: url(../images/bottom_fill_296.png);
  background-repeat: no-repeat;
  background-position: center;

  padding-top: 190px;
  padding-bottom: 362px;
}

.contacts__wrapp {
  margin: 0 auto;
  max-width: 850px;
}

.form__name,
.form__phone,
.form__message {
  width: 850px;
  height: 160px;
  border: 5px solid #000000;
  box-shadow: inset 0px 6px 30px 0px rgba(0, 0, 0, 0.69);
  border-radius: 80px 75px 75px 75px;
  padding-left: 60px;
  font-family: Montserrat-Thin;
  font-size: 48px;
  line-height: 1.2;
  color: #002e43;
}

.form__name,
.form__phone {
  margin-bottom: 80px;
}

.form__message {
  width: 850px;
  height: 324px;
  border: 5px solid #000000;
  border-radius: 80px;
  padding-top: 60px;
  padding-left: 60px;
}

.form__btn {
  width: 164px;
  height: 160px;
  border: 5px solid #000000;
  box-shadow: inset 0px 6px 30px 0px rgba(0, 0, 0, 0.69);
  border-radius: 80px 75px 75px 75px;
  margin-left: 80px;
  background-image: url(../images/send_396.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

/* footer */

.footer__wrapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1960px;
  margin: 0 auto;
}

.footer__text {
  font-family: Montserrat-Regular;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #002e43;
}